<main class="{{ styles.apply.window }} flex-col gap-5 p-5">
  <div class="{{ styles.apply.form_container }} w-2/3">
    <p class="{{ styles.apply.h2 }}">Step 1</p>
  </div>
  <div class="{{ styles.apply.form_container }} w-2/3">
    <p class="{{ styles.apply.h2 }}">Step 2</p>
  </div>
  <div class="{{ styles.apply.form_container }} w-2/3">
    <p class="{{ styles.apply.h2 }}">Step 3</p>
  </div>
  <div class="{{ styles.apply.form_container }} w-2/3">
    <p class="{{ styles.apply.h2 }}">Step 4</p>
  </div>
</main>
