<main class="{{ this.styles.apply.window }} window">
  <form
    [formGroup]="signinForm"
    class="{{ this.styles.apply.form_container }}"
    (ngSubmit)="signinHandler()"
  >
    <div class="{{ this.styles.apply.form_div }}">
      <label for="emailID">Email ID</label>
      <div class="flex flex-col">
        <input
          type="email"
          formControlName="emailID"
          placeholder="Email ID..."
          class="{{ this.styles.apply.form_input }}"
          required
          maxlength="255"
        />
        <span
          *ngIf="EmailID.value === '' && EmailID.touched"
          class="{{ styles.apply.errorMsg }}"
        >
          *email id is required
        </span>
        <!-- <span *ngIf="EmailID.touched === true && EmailID.errors?.['maxLength']">
            *exceeds maximum length
        </span> -->
      </div>
    </div>
    <br />
    <div class="{{ this.styles.apply.form_div }}">
      <label for="password">Password</label>
      <div class="flex flex-col">
        <input
          type="password"
          formControlName="password"
          placeholder="Enter Password..."
          class="{{ this.styles.apply.form_input }}"
          required
        />
        <span
          *ngIf="Password.value === '' && Password.touched"
          class="{{ styles.apply.errorMsg }}"
        >
          *Password is required
        </span>
      </div>
    </div>
    <br />
    <button type="submit" class="{{ this.styles.apply.button }}">Login</button>
    <br />
    <span *ngIf="showError" class="{{ this.styles.apply.errorMsg }} ">{{
      this.errorMsg
    }}</span>
  </form>
</main>
