/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,255,0.63) 90.1% );
    overflow-x: hidden;
}

.btn:active {
    background-color: #353535;
}
.btn:hover {
    text-decoration: underline;
}
